<div class="row center-xs middle-xs">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-6">
        <h2>Player 1</h2>
      </div>
      <div class="col-xs-6">
        <h2>Player 2</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6"> <mat-button-toggle-group name="game" aria-label="Rock Paper Scissors Game">
          <mat-button-toggle (click)="selectOption('👊')" value="rock">👊</mat-button-toggle>
          <mat-button-toggle (click)="selectOption('✋')" value="paper">✋</mat-button-toggle>
          <mat-button-toggle (click)="selectOption('✂️')" value="scissors">✂️</mat-button-toggle>
        </mat-button-toggle-group></div>
      <div class="col-xs-6">
        <h3>{{ player2Choice }}</h3>
      </div>
    </div>
  </div>
</div>